@font-face {
  font-family: "Pixel";
  src: url("./assets/fonts/Emulogic.ttf") format("truetype");
  font-style: 500;
  font-weight: normal;
}

body {
  background-color: black;
  overflow: hidden;
}

#app {
  display: flex;
  justify-content: center;
  animation: 4s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
